<?xml version="1.0"?>
<phpunit bootstrap="./Tests/Bootstrap.php" colors="true">
    <testsuite name="SwagAboCommerce-TestSuite">
        <directory>Tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./Tests</directory>
                <directory suffix=".php">./vendor</directory>

                <file>SwagAboCommerce.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
